ol li {
    background-color: darkgoldenrod;
}

ol li.par {
    color: greenyellow;
}

ol li.impar {
    text-transform: uppercase
}

h1, h2, h3, h4, h5, h6 {
  color: darkred;  
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-size: 40px;
    border: 1px solid black;
  }
  
li {
    font-size: 20px;
}

li em {
    font-weight: 600;
}

#linguagens li:nth-child(-n+3) {
    color: blue;
}

.java {
    background-color: pink;
}

#aliados li:hover {
    font-weight: 700;    
}

#aliados #stack:hover {
    color: orange;
}

#aliados #w3:hover {
    color: green;
}

#aliados #mdn:hover {
    color: black;
}

#aliados #docs:hover {
    color: yellow;
}

#aliados #trybe:hover {
    color: darkgreen;
}
