html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbfbf8;
  color: #292928;
  padding: 30px 35px;
  text-align: justify;
}

header {
  text-align: center;
  margin-bottom: 25px;
}

header ul {
  margin: 12px;
  display: flex;
  justify-content: center;
}

header li {
  list-style: none;
  margin: auto 15px;
}

aside {
  margin-left: 20px;
  margin-bottom: 35px;
}

aside ul {
  margin: 15px auto;
}

aside li {
  line-height: 1.8;
}

.main-content {
  margin: 80px auto;
}

footer h3 {
  margin: 15px auto;
}

footer p:first-of-type {
  margin: 15px auto;
}

@media screen and (min-width: 768px) {
  body {
    padding: 50px 70px 70px;
    font-size: 17px;
  }

  header {
    font-size: 20px;
    margin-bottom: 60px;
  }

  header ul {
    margin: 20px;
  }

  .asside-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }

  aside li {
    list-style: none;
  }

  h1 {
    text-align: center;
  }

  .main-content {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: auto;
    max-width: 1024px;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
  }
}
