* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header {
  background-color: #333333;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.header-img {
  width: 70px;
}

.header-heading {
  font-size: 23px;
  color: white;
}

.header-sign-up {
  color: white;
}

.first-section {
  padding-top: 10px;
  font-size: 19px;
  font-weight: 500;
  display: flex;
  justify-content: center;  
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
