.super-mario {
    width: 200px;
    z-index: 1;
    position: absolute;
  }
  
  .goomba {
    position: absolute;
    width: 100px;    
    margin-left: 110px;
    margin-top: 260px;
    z-index:2;
  }
  
  .baloon {
    position: absolute;
    margin-left: 235px;
    margin-top: 40px;
    width: 200px;
    z-index: 4;
  }
  
  .speech {
    font-size: 18px;
    position: absolute;
    margin-left: 243px;
    margin-top: 85px;
    z-index: 5;
  }
  
  .bowser {
    width: 300px;    
    position: absolute;
    display:inline;
    margin-left: 400px;
    margin-top: 50px;
    z-index: 3;
  }