#color-pallete {
    color: #253c78;
    color: #102b3f;
    color: #759aab;
    color: #faa916;
    color: #fffbfa;
    color: #0a182e; /*background*/
    color: #ccd5f5; /*text title*/
    color: #8891af; /*text*/
    color: #65ffdc; /*accent*/
}

body {
    background-color: #0a182e;
    color: #0a182e;
    font-family: "Montserrat", sans-serif;
    line-height: 23px;
    padding: 20px 50px;
    max-width: 800px;
    margin: auto;
}

h1 {
    color: #8891af;
    text-align: center;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #253c78;
    opacity: 0.9;
    height: 45px;
    width: 100%;
    padding-bottom: 20px;
}

nav a {
    color: #8891af;
    text-decoration: none;
}


nav ul {    
    text-align: center;
}

nav ul li {
    display: inline-block;          
    font-size: 16px;  
    letter-spacing: 1.5px;
    padding: 5px 50px 5px 0px;
}

a {
    color: #0a182e;
    text-decoration: none;
}

a:hover {
    color: #65ffdc;
}

img {
    margin: 0.5rem auto;
}

header {
    margin-top: 80px;
}

article {
    margin-left: +20px;
    text-align: justify;
}

section {
    background-color: #8891af;
    margin: 2rem 0;
    padding: 1rem 2.5rem;
    border-radius: 10px;
}

footer {
    padding-bottom: 1rem;   
}

footer a {
    margin-right: 1rem;    
    font-size: 15px;
}

footer h5 {
    margin: 0.2rem 0;
}