body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    font-family: sans-serif;
    text-decoration:underline;
    color: orange;            
}

.change-bg {
    background-color: teal;
}

ul {
    font-style: italic;
    line-height: 25px;            
}

p {
    font-size: 3em;
    font-weight: 600;
}

#yellow {
    background-color:yellow;    
    display:table;        
}

#green {
    background-color:green;
    display:table;        
}

#red{
    background-color:red;
    display:table;        
}

#purple {
    background-color: purple;
    display:table;        
}

#blue {
    background-color: blue;
    display:table;        
}